.content {
	padding: 5px;
	width: 300px;
	margin: auto;
	background: #f5f6fa;
}
.todo-list {
	width: 100%;
	border: 0;
	padding: 0;
	list-style: none;
}
.list-item {
	position: relative;
	padding: 10px;
}
.delete-task {
	position: absolute;
	left: 174px;
	top: -6px;
	background: #c0392b;
	margin: 10px;
}
.add-task {
	background: #27ae60;
	width: 100%;
	
}
.add-task,
.delete-task {
	outline: none;
	padding: 10px;
	border: 0;
	color: #fff;
}
.content,
.add-task,
.delete-task {
	border-radius: 3px
}
.delete-task:hover {
	background: #e74c3c;
}
.add-task:hover {
	background: #2ecc71;
}
.delete-task:hover,
.add-task:hover {
	transition: 0.2s;
}